main {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      
      "n n n"
      "a a a"
      
  }
  .card{
    margin: 10px;
    padding: 6px;
  }
  nav {
    grid-area: n;
  }
  
  article {
    grid-area: a;
  }
  header{
    text-align: center;
  }
 